/* General */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(to right, #f9f9f9, #e0f7fa);
}

/* Navbar */
header {
  background: #333;
  padding: 10px 20px;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo h1 {
  color:white;
  margin: 0;
  font-size: 24px;
  font-weight: bold;
}
header ul {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}
header ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}
header ul li a:hover {
  color: aqua;
}

/* Sections */
section {
  padding: 40px;
  text-align: center;
}

/* Cards */
.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}
.card {
  width: 18rem;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  overflow: hidden;
}
.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.card-body {
  padding: 15px;
}
.card-body h2 {
  margin: 0 0 10px;
}

/* Contact Form */
#contact {
  background: #f1f8ff;
}
.form-container {
  max-width: 600px;
  margin: auto;
  background: #fff;
  padding: 25px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}
.form-group {
  margin-bottom: 15px;
  text-align: left;
}
.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #333;
}
.form-group input,
.form-group select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
form button {
  background-color:aqua;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  font-size: 16px;
}
form button:hover {
  background-color:#333;
}
.footer{
  background: #333;
  color:aquamarine;
  padding: 10px 20px;
  text-align: center;
}
.contact-icons a {
  background-color: #333;
  color: aqua;
  margin: 10px;
  font-size: 24px;
  color: white;
  text-align: center;
}

.contact-icons a:hover {
  color: gold;
}